---
import ButtonAction from "./ButtonAction.astro";

const {
  titulo,
  empresa,
  proyecto,
  tipoContrato,
  periodo,
  descripcion,
  ubicacion,
  responsabilidades,
} = Astro.props;
---

<article class="relative w-full">
  <hr class="border-gray-600" />
  <h4 class="family-title text-2xl sm:text-3xl font-bold text-gray-200 mt-4 ">
    {titulo}
  </h4>
  <div class="flex gap-4 w-full mt-2 items-center">
    <h6 class="text-base sm:text-2xl font-bold">{empresa}</h6>
    <p class="text-xs sm:text-base text-[#FF003D]" style="text-shadow: 2px 2px 15px #ff003c;">
      {periodo}
    </p>
  </div>

  <div class="flex flex-col gap-4 mt-2">
    <div>
      <p class="text-gray-400 text-xs sm:text-sm line-clamp-3 text-balance descripcionJobs">{descripcion}</p><span
        class="haddleMasDescripcion">Ver Mas...</span
      >
    </div>
    <div class="flex justify-between gap-4">
      <p class="text-gray-400 text-xs">{ubicacion} - {tipoContrato}</p>
    </div>
  </div>
</article>

<script>
  const leerMasDescripcion = Array.from(document.querySelectorAll(".haddleMasDescripcion"));
  let stateMas = false;
  if (leerMasDescripcion) {
    leerMasDescripcion.forEach((e: Element, i: number) => {
      e.addEventListener("click", () => {
      stateMas = !stateMas;
      const descripcionElement = document.querySelectorAll(".descripcionJobs");
      if (stateMas) {
        e.textContent = "Ver Menos...";
        descripcionElement[i].classList.remove("line-clamp-3");
      }else{
        e.textContent = "Ver Mas..." 
        descripcionElement[i].classList.add("line-clamp-3");
      }
    })
    });
  }
</script>
